*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --main-color : #ddf247 ;
    --gray-color : #b7b7b7 ;
    --secondary-color : #0d121a ;
    --turnery-color :#090d12 ;
    --card-color : #19232c ;
    --white-color : #fff ;
    --body-font :  "Poppins", serif ;
    --heading-font :  "Barlow", sans-serif ;
    --jersy-font : "Jersey 25", sans-serif ;
}

body{
    font-family: var(--body-font);
    color: var(--white-color);
    background-color: var(--turnery-color);
    overflow-x: hidden;
}


/* start header */
header{
    padding:  0 100px;
    position: relative;
    background: var(--secondary-color);
}
header .line-hr{
    position: absolute;
    
    left: 0;
    width: 100%;
    bottom: 0;
}
header .line-hr:last-of-type{
    left: 100%;
    animation: line-hr 5s linear infinite ;
}
@keyframes line-hr {
    100%{
        left: -100%;
    }
}
/* end header */



/* start nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 ;
    border-bottom: 2px solid #333;
}

nav .logo{
    width: 150px;
}

nav .right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
nav .right-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

}
nav .right-nav ul li {
    list-style: none;
    padding:  10px 0;
    position: relative;

}
nav .right-nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--heading-font);
    font-weight: 500;
    transition: 0.5s;
    position: relative;
}
nav .right-nav ul li a i {
    display: none;
}
nav .right-nav ul li a::after{
    content: '';
    position: absolute;

    width: 30px;
    height: 30px;
    background: url(../image/active.png) center no-repeat scroll;
    background-size: cover;

    top: 50%;
    left: 50%;

    transform: translate(-50% , -50%);

    opacity: 0;
    transition: 0.5s;


}
nav .right-nav ul li a:hover , 
nav .right-nav ul li a.active {
    color: var(--main-color);
}
nav .right-nav ul li a:hover::after , 
nav .right-nav ul li a.active::after { 
    opacity: 0.5;
}


nav .right-nav .search{
    display: flex;
    align-items: center;
    gap: 22px;
    position: relative;
}
nav .right-nav .search i {
    font-size: 22px;
}
nav .right-nav .connect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
nav .right-nav .connect > i{
    font-size: 40px; 
    cursor: pointer;
}
nav .right-nav .connect > i article{
    position: fixed;
    font-size: 16px;
    
    height: 100vh;
    width: 400px;
    background-color: var(--secondary-color);
    border-left: 2px solid #555;
    z-index: 5 ;
    right: -400px;
    top: 0;
    padding: 50px 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.5s;
    font-family: var(--heading-font);
    /* z-index: 6; */
}
nav .right-nav .connect > i article::before{
    content: '';
    position: fixed;
    
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0 , 0.4);
    left: 0;
    top: 0;
    display: none;
    z-index: -1;
}
nav .right-nav .connect > i:hover article{
    right: 0;
}
nav .right-nav .connect > i:hover article::before{
    display: block;
}
nav .right-nav .connect > i article:active::before{
    display: none;
}
nav .right-nav .connect > i article img {
    width: 160px;
}
nav .right-nav .connect > i article >  p:nth-of-type(1) ,
nav .right-nav .connect > i article  > p:nth-of-type(2)  {
    line-height: 1.5;
    opacity: 0.7;
    font-weight: 400;
    font-size: 17px;
    word-spacing: 1.2px;
}

nav .right-nav .connect > i article > b{
    font-size: 25px;
    opacity: 0.8;
}
nav .right-nav .connect > i article > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav .right-nav .connect > i article > div:nth-of-type(1) p  {
    opacity: 0.7;
    font-size: 15px;
}
nav .right-nav .connect > i article > div:nth-of-type(1) p i {
    margin-right: 10px;
}
nav .right-nav .connect > i article > div:nth-of-type(2) {
    margin-top:60px;
    display: flex;
    gap: 10px;
    position: relative;

}
nav .right-nav .connect > i article > div:nth-of-type(2)::after{
    content: '';
    position: absolute;

    width: 100%;
    height: 1px;
    background-color: #555;

    left: 50%;
    top: -45px;
    transform: translateX(-50%);
}
nav .right-nav .connect > i article > div:nth-of-type(2) div {
    width: 40px;
    height: 40px;
    border: 1px dotted var(--main-color) ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: 12px;
    transition: 0.5s;
    border-radius: 5px;
}
nav .right-nav .connect > i article > div:nth-of-type(2) div:hover {
    background-color: var(--main-color);
    color: #000;
}



.btn-bg{
    width: 150px;
    height: 50px;
    /* background: linear-gradient( 20deg , #ddf247 , aqua , #97e1da  , #000); */
    background: url(../image/btn-bg.png) center no-repeat;
    background-size: 100% 100% ;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
.btn-bg:hover{
    background: url(../image/btn-bg-hover.png) center no-repeat;
    background-size: 100% 100% ;
    letter-spacing: 1.2px;
}
.btn-bg img{
    width: 18px ;
    margin-right: 5px;
}
nav .right-nav .search::after{
    content: '';
    position: absolute;
    
    width: 1px;
    height: 120%;
    background-color: #fff;
    
    right: -28px;
    top: 50%;
    transform: translateY(-50%);
    
}
nav .right-nav .search::before{
    content: '';
    position: absolute;
    
    width: 1px;
    height: 100%;
    background-color: #fff;
    
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
}

nav .right-nav ul li:nth-of-type(1) .dropDownMenu-1{
    position: absolute;
    width: 220px;
    background-color: var(--card-color);
    border: 1px solid #555;
    display: flex;
    flex-direction: column;
    left: -20px;
    border-radius: 5px;
    transition: 0.5s;
    
    top: 150%;
    opacity: 0;
    height: 0;
    overflow: hidden;
}


nav .right-nav ul li:nth-of-type(1) .dropDownMenu-1 a{
    padding: 10px 20px ;
}
nav .right-nav ul li:nth-of-type(1) .dropDownMenu-1 a::after{
    background: none;   
}
nav .right-nav ul li:nth-of-type(1) .dropDownMenu-1 a:not(:last-of-type){
    border-bottom: 1px solid #555;
}
nav .right-nav ul li:nth-of-type(1) .dropDownMenu-1 a:hover , 
nav .right-nav ul li:nth-of-type(1) .dropDownMenu-1 a.active {
    text-indent: 10px;
} 

nav .right-nav ul li:nth-of-type(1):hover .dropDownMenu-1{
    opacity: 1;
    height: auto ;
    overflow: visible;
}
nav .bi-list{
    cursor: pointer;
    font-size: 30px;
    display: none;
}
@media (max-width: 1200px) {
    header{
        padding:  0 80px;
    }
    nav .right-nav .connect{
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }

}
@media (max-width: 990px) {
    header{
        padding:  0 50px;
    }
    nav{
        position: relative;
    }
    nav .right-nav ul{
        position: absolute;
        width: 100%;
        background-color: var(--secondary-color);
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        transition: 0.8s;

        padding: 0;
        opacity: 0;
        top: 150%;
        height: 0;
        overflow: hidden;
    }
    nav:hover .right-nav ul{
        opacity: 1;
        top: 100%;
        height: auto;
        overflow: visible;
        padding: 0 15px;
    }
    nav .right-nav ul li {
        list-style: none;
        padding: 13px  ;
        position: relative;
        width: 100%;
        
    }
    nav .right-nav ul li:not(:last-of-type){
        border-bottom: 1px solid #333;
    }
    nav .right-nav ul li a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-family: var(--heading-font);
        font-weight: 500;
        transition: 0.2s;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    nav .right-nav ul li a::after{
        left: 10px;    
        transform: translate(0, -50%)
    }
    nav .right-nav ul li:nth-of-type(1) .dropDownMenu-1{
        position: static;
        width: 100%;
        background-color: transparent ;
        border: none ;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        transition: 0.5s;
        
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    nav .right-nav ul li:nth-of-type(1):hover .dropDownMenu-1{
        padding-top: 10px;
    }
    nav .right-nav ul li:nth-of-type(1) .dropDownMenu-1 a{
        font-size: 14px;
    }
    
    nav .right-nav .search{
        display: none;
    }
    nav .right-nav .connect{
        display: none;
    }
    nav .right-nav ul li a .bi-plus {
        display: block;
    }
    nav .right-nav ul li a .bi-dash {
        display: none;
    }
    nav .right-nav ul li:hover a .bi-plus {
        display: none;
    }
    nav .right-nav ul li:hover a .bi-dash {
        display: block;
    }
    nav .bi-list{
        display: block;
    }
}
@media (max-width: 768px) {
    header{
        padding:  0 30px;
    }
}
@media (max-width: 540px) {
    header{
        padding:  0 20px;
    }
}
@media (max-width: 435px) {
    header{
        padding:  0 10px;
    }
}

/* end nav */






/* start heading */
.heading{
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--heading-font);
}
.heading .left-heading{
    width: calc((100% - 10px ) / 2) ;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.heading .left-heading h1{
    font-size: 60px;
    text-transform: uppercase;
    opacity: 0.9;
    line-height: 1;
}
.heading .left-heading h1 p{
    font-weight: 300;
}

.heading .left-heading h1  span{
    color: var(--main-color);
    opacity: 1;
}
.heading .left-heading h1 b{
    font-size: 75px;
}
.heading .left-heading > strong{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1.3px;
    width: max-content;
    position: relative;
}
.heading .left-heading > strong::after{
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: var(--turnery-color);

    left: 0;
    top: 0;

    
    animation: slideToRight  6s  steps(40) infinite  ;
}


.heading .right-heading{
    width: calc(( 100% - 10px  ) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    position: relative;

    animation: heading-logo 1s linear infinite alternate ;

} 

.heading .right-heading img:nth-of-type(1){
    width: 100%;
    animation: stars 1.5s linear infinite alternate  ;
 } 
.heading .right-heading img:nth-of-type(2){
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-30% , -50%);
} 


@media (max-width:1200px) {
    .heading .left-heading h1{
        font-size: 55px;
    }
    .heading .left-heading h1 b{
        font-size: 65px;
    }
}
@media ( max-width : 990px ) {
    .heading{
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        gap: 30px;
    }
    .heading .left-heading{
        width: 80%;
    }
    .heading .right-heading{
        width: 80%;
    }
    .heading .right-heading img:nth-of-type(2){
        transform: translate(-50% , -50%);
        z-index: -1;
    } 
}
@media ( max-width : 768px ) {
    .heading .left-heading h1{
        font-size: 45px;
    }
    .heading .left-heading h1 b{
        font-size: 55px;
    }
}
@media ( max-width : 540px ) {
    .heading .left-heading h1{
        font-size: 35px;
    }
    .heading .left-heading h1 b{
        font-size: 45px;
    }
}



@keyframes  heading-logo  {
    100%{
        transform: translateY(-20px);
    }
}
@keyframes  stars  {
    100%{
        opacity: 0.3;
    }
}
@keyframes  slideToRight  {
    70% , 90%{
        left: 100%;
    }
    0%,20%,100%{
        left: 0;
    }
}


/* end heading */




/* start sections */
section{
    padding: 130px  100px 100px ;
    display: flex;
    flex-direction: column;
    border-bottom: 2px dashed #444;
    gap: 50px;
}

section .sec-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
section .sec-title b{
    font-size: 50px;
    font-family: var(--heading-font);
    text-transform: uppercase;
    opacity: 0.9;
} 
section .sec-title b span{
    color: var(--main-color);
}
section .sec-title div{
    font-size: 15px;
    display: flex;
    gap: 8px;
    align-items: center;
    opacity: 0.7;
    font-weight: 300;
}
 
section .sec-title.with-arrow div{
    display: flex;
    align-items: center;
    gap: 10px;
} 
section .sec-title.with-arrow div i {
    width: 45px;
    height: 45px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    border: 2px dotted var(--main-color);
    border-radius: 50%;
    font-size: 12px;
    transition: 0.5s;
    cursor: pointer;
}
section .sec-title.with-arrow div i:hover{
    background-color: var(--main-color);
    color: #000;
}

section .sec-title.with-arrow.withAfter ,
section .sec-title.with-arrow.withAfter-2 , 
section .sec-title.with-arrow.withAfter-3 {
    position: relative;
}
section .sec-title.with-arrow.withAfter::after{
    content: 'top Auction';
    position: absolute;
    
    width: max-content;
    height: max-content;
    color: var(--main-color);
    font-size: 16px;
    left: 0;
    top: -22px;
    
}
section .sec-title.with-arrow.withAfter-2::after{
    content: 'Our nft creator';
}
section .sec-title.with-arrow.withAfter-3::after{
    content: 'Our Testimonials';
}
section .sec-title.with-arrow.withAfter-2::after{
    content: 'Our nft creator';
    position: absolute;
    
    width: max-content;
    height: max-content;
    color: var(--main-color);
    font-size: 16px;
    
    left: 0;
    top: -22px;
}
section .sec-title.with-arrow.withAfter-2 > div{
    opacity: 1;
    font-weight: 600;
    font-size: 12px;
}
section .sec-title.with-arrow.withAfter-2.one{
    justify-content: center;
}
section .sec-title.with-arrow.withAfter-2.one::after{
    content: 'Our Blockchain';
    left: 50%;
    transform: translateX(-50%);
}   
@media (max-width:1200px) {
    section{
        padding:  130px 80px 100px;
    }
}
@media (max-width:990px) {
    section{
        padding:  130px 50px 100px;
    }
}
@media (max-width:768px) {
    section{
        padding:  130px 30px 100px;
    }
    section .sec-title{
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 15px;
    } 
}
@media (max-width:540px) {
   section{
        padding:  130px 20px 100px;
    }
}
@media (max-width:435px) {
    section{
        padding:  130px 10px 100px;
    }
}
/* end sections */







/* start sec-featured-item */
.featured-item{
    background-color: var(--turnery-color);
}

.featured-item .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.featured-item .container .card{
    width: calc((100% - 60px) / 4);
    padding: 10px 10px 20px;
    border: 1px solid #444;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1c1c24;
    font-family: var(--heading-font);
    border-radius: 15px;
}
.featured-item .container .card > div:not(:last-of-type){
    background-color: var(--card-color);
    border-radius: 15px;
    border: 1px solid #333;
}

.featured-item .container .card > div:nth-of-type(1){
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featured-item .container .card > div:nth-of-type(1) p {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.featured-item .container .card > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}
.featured-item .container .card > div:nth-of-type(2) img {
    width: 120px;
    height: 120px;
    transition: 0.5s;
}
.heighest-bid  {
    margin-top: 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heighest-bid > div  {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.heighest-bid > div >  span  {
    font-size: 14px;
    opacity: 0.7;
}

.heighest-bid > div > div  i  {
    padding: 8px;
    border-radius: 50%;
    background-color: purple;
    color: #fff;
    font-size: 10px;
    margin-right: 5px;
}
.heighest-bid > div > div > span {
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 500;
    font-size: 15px;
}
.heighest-bid button {
    padding: 12px 15px;
    border-radius: 10px;
    border: none ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--main-color);


}
.featured-item .container .card:hover > div:nth-of-type( 2 ) img {
    transform: scale(1.2);
}




.featured-item .container-2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
.featured-item .container-2 .card{
    width: calc((100% - 50px) / 3 );
    background: url(../image/sellerBG.png) center;
    background-size: 100% 100% ;
    display: flex;
    padding:20px 25px ;
    flex-direction: column;
    gap: 15px;
}
.featured-item .container-2 .card > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.featured-item .container-2 .card > div > div:nth-of-type(1) b {
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
}
.featured-item .container-2 .card > div > div:nth-of-type(1) p {
    font-size: 14px;
    color: var(--main-color);
}
.featured-item .container-2 .card > div > div:nth-of-type(1) > div{
    margin-top: 10px;
    position: relative;
}
.featured-item .container-2 .card > div > div:nth-of-type(1) div::after{
    content: '+56';
    position: absolute;
    opacity: 0.7;
    top: 50%;
    transform: translatey(-60%);
    font-size: 14px;

}
.featured-item .container-2 .card > div > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.featured-item .container-2 .card > div > div:nth-of-type(2) span {
    padding: 12px;
    background: url(../image/sellerNumberBG.png) center;
    background-size: 100% 100% ;
    font-size: 14px;
    opacity: 0.8;
}
.featured-item .container-2 .card > p {
    text-indent: 20px;
    text-transform: uppercase;
    font-family: var(--heading-font);
    opacity: 0.7;
    position: relative;
    font-weight: 500;
    font-size: 12px;
}
.featured-item .container-2 .card > p::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);

    left: -5px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width:1200px) {
    .featured-item .container .card{
        width: calc((100% - 20px) / 2);
    }
    .featured-item .container-2 .card{
        width: calc((100% - 25px) / 2 );
    }
}
@media (max-width:768px) {

    .featured-item .container-2 .card{
        width: 100% ;
    }
}
@media (max-width:540px) {
    .featured-item .container .card{
        width:100% ;
    }
}
/* end sec-featured-item */





/* start sec-gaming */
.gaming{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.gaming .container-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gaming .container-1 > div:nth-of-type(1){
    width: 50%;
}
.gaming .container-1 > div:nth-of-type(1) img{
    width: 100%;
}
.gaming .container-1 > div:nth-of-type(2){
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left:  80px;
}
.gaming .container-1 > div:nth-of-type(2) b{
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0.8;
    font-family: var(--heading-font);
}
.gaming .container-1 > div:nth-of-type(2) strong{
    color: var(--main-color);
    padding: 5px 10px;
    background-color: #def2471a;
    text-transform: uppercase;
    font-weight: 300;
    width: max-content;
    font-size: 17px;
    font-family: var(--heading-font);
    position: relative;
}
.gaming .container-1 > div:nth-of-type(2) strong::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--secondary-color);
    animation: slideToRight  6s  steps(40) infinite  ;

}
.gaming .container-1 > div:nth-of-type(2) p{
    margin: 10px 0 ;
    color: var(--gray-color);
    line-height: 1.7;
    letter-spacing: 1.3px;
    font-size: 15px;
    /* font-family: var(--heading-font); */
}
.gaming .container-1 > div:nth-of-type(2) div:nth-of-type(1){
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.gaming .container-1 > div:nth-of-type(2) div:nth-of-type(1) p{
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: 500;
}
.gaming .container-1 > div:nth-of-type(2) div:nth-of-type(1) p span{
    color: var(--main-color);
    opacity: 1;
}


.gaming .container-2{
    display: grid;
    grid-template-columns:  repeat( 4 , 1fr) ;
    grid-template-rows:  repeat( auto) ;
    gap: 50px;
}
.gaming .container-2 .card{
    /* width: calc((100% - 150px  ) / 4 ); */
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.gaming .container-2 .card b{
    text-transform: uppercase;
    opacity: 0.9;
    font-size: 25px;
    font-family: var(--heading-font);
}
.gaming .container-2 .card p{
    color: var(--gray-color);
    line-height: 1.4;
}
/* end sec-gaming */



/* start sec-limited-auction*/
.limited-auction{
    background-color: var(--turnery-color);
}
.limited-auction .container{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.limited-auction .container .card{
    width: calc((100% - 60px ) / 4 );
    background-color:#1c1c24;
    border: 1px solid #444;
    padding: 10px 10px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 10px;
}
.limited-auction .container .card div:nth-of-type(1){
    overflow: hidden;
    border-radius: 10px;
    border-radius: 10px;
}
.limited-auction .container .card div:nth-of-type(1) img{
    width: 100%;
    transition: 0.5s;
    border-radius: 10px;
}
.limited-auction .container .card div:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.limited-auction .container .card div:nth-of-type(2) b {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.limited-auction .container .card div:nth-of-type(2) i {
    font-size: 20px;
}
.limited-auction .container .card:hover div:nth-of-type(1) img{
    transform: scale(1.2);
} 
.limited-auction .container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.limited-auction .container-2 div {
    width: calc((100% - 200px) / 6);
    border-radius: 15px;
    height: 300px;
}

.limited-auction .container-2 div:nth-of-type(3) {
    width: calc((100% - 80px) / 3);
    height: 380px;
}
.limited-auction .container-2 div:nth-of-type(1){
    background: url(../image/blockChain-1.png) center ;
    background-size: 100% 100%;
}
.limited-auction .container-2 div:nth-of-type(2){
    background: url(../image/blockChain-2.png) center ;
    background-size: 100% 100%;
}
.limited-auction .container-2 div:nth-of-type(3){
    background: url(../image/blockChain-3.png) center ;
    background-size: 100% 100%;
    animation: changeImg 10s ease infinite alternate;
}
@keyframes changeImg {
    20%{
        background: url(../image/blockChain-3.png) center ;    
        background-size: 100% 100%;

    }
    40%{
        background: url(../image/blockChain-4.png) center ;    
        background-size: 100% 100%;

    }
    60%{
        background: url(../image/blockChain-2.png) center ;    
        background-size: 100% 100%;

    }
    80%{
        background: url(../image/blockChain-1.png) center ;    
        background-size: 100% 100%;

    }
    100%{
        background: url(../image/blockChain-5.png) center ;    
        background-size: 100% 100%;

    }
}
.limited-auction .container-2 div:nth-of-type(4){
    background: url(../image/blockChain-4.png) center ;
    background-size: 100% 100%;
}
.limited-auction .container-2 div:nth-of-type(5){
    background: url(../image/blockChain-5.png) center ;
    background-size: 100% 100%;
}

.limited-auction .container-2 img{
    /* width: 100%;
    height: 100%; */
    border-radius: 15px;
    transform: translate3d();
}

/* end sec-limited-auction*/






/* start sec-creator */
.creator{
    background-color: var(--secondary-color);
}
.creator .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

}
.creator .container .card{
    width: calc((100% - 50px) / 3);
    padding: 35px 25px;
    background: url(../image/creatorBG.png) center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.creator .container .card > div:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1){
    display: flex;
    align-items: center;
    gap: 8px;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div{
       display: flex;
    flex-direction: column;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div b{
    font-family: var(--heading-font);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div p {
    font-weight: 200;
    font-size: 13px;
    opacity: 0.6;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div > p > span{
    font-weight: 400;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(2){
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--sec-bg2);
    border: 1px solid #444 ;
    font-size: 14px;
    opacity: 0.7;
}

.creator .container .card > div:nth-of-type(2){
    display: flex;
    align-items: center;
    gap: 12px;

}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(1){
    width: calc(( 100% - 12px ) / 2);
    padding: 5px;
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(1) img{
    width: 100%;
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2){
    width: calc(( 100% - 12px ) / 2);
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1){
    display: flex;
    align-items: center;
    gap: 12px;

}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) img{
    width: calc((100% - 12px) / 2 );
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) img{
    width: 100%;
}
/* end sec-creator */






/* start sec-feedback */
.feedback{
    background-color: var(--turnery-color);
}
.feedback .slider-1{
    overflow: hidden;
}
.feedback .slider-1 .slidecontainer{
    position: relative;
    display: flex;
    animation: slider-1 7s infinite linear ;
}
@keyframes slider-1 {
    100%{
        transform: translateX(-100%);
    }
}
.feedback .slider-1 .slidecontainer:hover{
    animation-play-state:paused;
}
.feedback .slider-1 .slidecontainer:active{
    animation-play-state:running;
}
.feedback .slider-1 > .slidecontainer div {
    gap: 5px;
    background-color: #000;
    border: 1px solid #555;
    padding: 70px ;
    margin: 0 10px;
}
.feedback .slider-1 > .slidecontainer div p{
    margin-top: 5px;
    color: var(--gray-color);
    font-size: 27px;
    list-style: 1.5;
}
.feedback .slider-1 > .slidecontainer .two{
    position: absolute;
    width: 100%;
    transform: translateX(100%);
}

.feedback .testimoinials{
    display: flex;
    align-items: center;
    gap: 50px;
}
.feedback .testimoinials .blogs{
    width: calc((100% - 150px ) / 4);
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.feedback .testimoinials .blogs div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.feedback .testimoinials .blogs div b{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    font-family: var(--heading-font);
}
.feedback .testimoinials .blogs div span{
    color: var(--gray-color);
}
.feedback .testimoinials .blogs:hover img{
    outline: 4px solid var(--main-color);
    border-radius: 50%;
}

.feedback .sliders{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}
.feedback .sliders .slider{
    position: relative;
    display: flex;
    animation: slider-1 10s linear infinite;
}
.feedback .sliders .slider .slide {
    display: flex;
    gap: 20px ;
    margin: 0 10px;
}
.feedback .sliders .slider .slide img{
    width: calc((100% - 120px) / 7);
}
.feedback .sliders .slider .slide-2{
    position: absolute;
    transform: translate(100%);
}
.feedback .sliders .slider.slider-2 {
    animation: slider-2  10s infinite  linear;
}
@keyframes slider-2 {
    100%{
        transform: translate(100%);
    }
}
.feedback .sliders .slider.slider-2 .slide-2{
    position: absolute;
    transform: translate(-100%);
}
/* end sec-feedback */







/* start footer */
footer{
    padding: 100px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    gap: 50px;
}

footer > div{
    width: calc((100% - 150px ) / 4);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer > div:not(:nth-of-type(1)) > b{
    text-transform: uppercase;
    font-size: 20px;
    opacity: 0.9;
    font-family: var(--heading-font);
}
footer .card-1 img{
    width: 150px;
}
footer .card-1 > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer .card-1 > div > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer .card-1 > div > div p{
    color: var(--gray-color);

}
footer .card-1 > div > b{
    color: #c1cceb ;
    font-family: var(--heading-font);
    font-size: 18px;
}
footer .card-1 > div > strong{
    color: var(--gray-color);
    
}
footer .card-1 > div > strong span {
    color: var(--main-color);
}


footer .card-2 > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .card-2 > div a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--gray-color);
    font-size: 15px;
    transition: 0.5s;
    font-weight: 500;
}
footer .card-2 > div a:hover{
    color: var(--main-color);
}

footer .card-3 > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .card-3 > div p{
    color: var(--gray-color);
    line-height: 1.7;
    font-size: 15px;
    font-weight: 500;
}
footer .card-3 > div input{
    padding: 20px;
    background-color: #273036;
    color: #fff;
    border: none;
    font-size: 16px;
}
footer .card-3 > div input::placeholder{
    color: var(--gray-color);
}
footer .card-3 > div input:focus{
    outline: none;
}
footer .card-4 > .instgram{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-right: 60px;
}
footer .card-4 > .instgram  >  div{
    width: 60px;
    height: 60px;
    position: relative;
}
footer .card-4 > .instgram  >  div::after{
    content: '';
    position: absolute;
    height: 30%;
    width: 30%;
    top: 50%;
    left: 50%;
    background-color: #00000000;
    transform: translate(-50% ,  -50%);
    transition: 0.5s;
}
footer .card-4 > .instgram  >  div:hover::after{
    height: 100%;
    width: 100%;
    background-color: #00000073;
}
footer .card-4 > .instgram  >  div:hover > div{
    display: block;
}
footer .card-4 > .instgram  >  div img{
    width: 100%;
    height: 100%;
}
footer .card-4 > .instgram  >  div > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
    z-index: 1;
}

/* end footer */